.chart-page {
  width: 100%;
  min-height: 100vh;
  background: #f5f5f5;
  padding: calc(24px + var(--safe-area-top)) 0 60px;

  .content {
    padding: 0 18px;
  }
  .chart-legend {
    text-align: center;
  }
  .chart-container {
    user-select: none;
  }
} 
